# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Visual Studio Code
**/debug

# Mac
.DS_Store

# IntelliJ
.idea

# -----------
# Custom

# Go lang - ignore the executable
golang/golang

# Kotlin
kotlin/out/
kotlin/bin/
kotlin/build/

# Gradle and Java build
.gradle/
.settings/
.classpath
.project
